<!DOCTYPE html>
<html>
<head>
  <title>RailDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p>test this is where the menu would be</p>

<%= yield %>

</body>
</html>
